body{
    margin: 0;
    background-color: #90afc5;
}
header{
    height: 13vh;
    background-color: #336b87;
    font-size: 3rem;
    text-align: center;
    color: white;
}
h1{
    margin: 0;
    padding: 25px;
}
.Wraper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
form{
    margin-top: 150px;
    text-align: center;
}
label,input{
    font-size: 2rem;
}
input{
    margin-bottom: 15px;
}
.Tablero{
    display: grid;
    grid-template: repeat(3,150px)/repeat(3,150px);
    justify-items: center;
}
.Posicion{
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 5rem;
}
